services:

  database:
    image: postgres
    container_name: database
    restart: always
    env_file:
      - .env
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 3s
      retries: 10



  
  max:
    image: max_image
    container_name: max_container
    build:
      context: .
    env_file:
      - .env
    depends_on:
      database:
        condition: service_healthy
    ports:
      - 7777:8000
      
networks:
  max_container:
    driver: bridge
